/* src/styles.scss */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
  min-height: 100vh;
}

html, body {
  height: 100%;
}
